!!!
html
	head
		title Charts
		link(href="style.css",rel="stylesheet")
		script(src="https://www.google.com/jsapi",type="text/javascript")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js",type="text/javascript")
		<script type="text/javascript">
			var options = {
				width: 400,
				height: 240,
				vAxis: {minValue:0, maxValue:100},
				animation: {
					duration: 1000,
					easing: 'in'
				}
			};

			var button;
			function drawChart() {
				var chart = new google.visualization.LineChart(document.getElementById('visualization'));
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'x');
				data.addColumn('number', 'y');
				data.addRow(['100', 123]);
				data.addRow(['700', 17]);
				button = document.getElementById('twitter');
				// Disabling the button while the chart is drawing.
				button.disabled = true;
				google.visualization.events.addListener(chart, 'ready',
				function() {
					button.disabled = false;
				});
				chart.draw(data, options);
			}

			button.onclick = function() {
				if (data.getNumberOfRows() > 5) {
					data.removeRow(Math.floor(Math.random() * data.getNumberOfRows()));
				}
				// Generating a random x, y pair and inserting it so rows are sorted.
				var x = Math.floor(Math.random() * 1000);
				var y = Math.floor(Math.random() * 100);
				var where = 0;
				while (where < data.getNumberOfRows() && parseInt(data.getValue(where, 0)) < x) {
					where++;
				}
				data.insertRows(where, [[x.toString(), y]]);
				drawChart();
			}

			drawChart();
		</script>
	body
		#container
			ul
				li
					label
						input(id="twitter",type="button",name="userdata",value="Twitter")
					label
						input(id="facebook",type="checkbox",name="userdata")
						| Facebook
					label
						input(id="mail",type="checkbox",name="userdata")
						| Mail
		#visualization(style="width:900px;height:400px")
